ion-toolbar img{
    width: 70%;
  
  };
  
  ion-toolbar {
    --background: black;
  }

ion-content{
  --background:rgb(235, 234, 234);
  height: 100%;
}
ion-list{
  background:rgb(235, 234, 234);
}

ion-card{
  border-radius: 20px;
}

ion-card-title{
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

ion-card-subtitle{
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
