<ion-content scroll-y="false">
    <div class="head">
      <img src="../../assets/icon/royal-post-b.png" >
    </div>

    <form [formGroup]="registrationForm" (ngSubmit)="onLogin()">
      <ion-list>

        <ion-item>
          <ion-label position="floating">email</ion-label>
          <ion-input autocapitalize inputmode="email" formControlName="email"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.email">
          <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">password</ion-label>
          <ion-input type="password" autocapitalize inputmode="password" formControlName="password"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.password">
          <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
        
        <div class="button-wrapper">
          <ion-button  [disabled]="!registrationForm.valid" type="submit">Login</ion-button>
          <ion-button routerLink="/register">Register</ion-button>
        </div>
        
      </ion-list>
    </form>
</ion-content>