ion-content{
  --background:white;
  height: 100%;
}

.head{
  height: 20%;
  align-content: center;
}

.head img{
  margin-top: 30%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

form{
  height: 80%;
  margin-top: 20%;
  margin-left: 6%;
  margin-right: 6%;
}

ion-button{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  width: 80%;
  --background:black;
  margin-top: 10%;
}

.button-wrapper{
  text-align: center;
}