<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">
      <img src="../../assets/icon/royal-post-w.png"/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   
    <form [formGroup]="registrationForm" (ngSubmit)="onLogin()">
      <ion-list>

        <ion-item>
          <ion-label position="floating">email</ion-label>
          <ion-input autocapitalize inputmode="email" formControlName="email"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.email">
          <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" autocapitalize inputmode="password" formControlName="password"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.password">
          <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
        
          <div class="button-wrapper">
          <ion-button  [disabled]="!registrationForm.valid" type="submit" color="dark" size="large">Login</ion-button>
        </div>
        
      </ion-list>
    </form>
    <div class="button-wrapper">
      <ion-button color="dark" size="large" routerLink="/register">Register</ion-button>
    </div>
</ion-content>
<!-- 
  <ion-item>
    <ion-label>
      <h1>Email</h1>
    </ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      <h1>Password</h1>
    </ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  
  <ion-item-divider>
    <div class="button-wrapper">
    <ion-button color="dark" size="large" (click)="onLogin()" >Login</ion-button>
  </div>
  <div class="button-wrapper">
    <ion-button color="dark" size="large" routerLink="/register" >New</ion-button>
  </div>
  </ion-item-divider>
-->