ion-toolbar img{
    width: 70%;
  
  };
  
  ion-toolbar {
    --background: black;
  }

 h1{
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 20px;
 }

 ion-content{
    --background:rgb(235, 234, 234);
 }

ion-card{
    margin-top: 25%;
}

ion-button{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  width: 80%;
}

.button-wrapper{
  text-align: center;
  margin: 20px;
}