<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title style="text-align: center;">
      <img src="../../assets/icon/royal-post-w.png" [routerLink]="['/home', UID]"/>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="title">
    <h1>{{column.title}}</h1>
  </div>
 
  <div class="secondary">
    <p>Escrito por {{column.author}}</p>
    <p>{{column.category}}</p>
  </div>

  <div class="text">
    <p>{{column.text}}</p>
  </div>
  
</ion-content>
 