<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button color="light" [routerLink]="['/home',UID]" ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <img src="../../assets/icon/royal-post-w.png"/>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-slides style="height:100%;">
    <ion-slide style="display: block;">
      <div>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://image.flaticon.com/icons/svg/2919/2919573.svg">
          </ion-avatar>
          <ion-label>
            <h1>{{user.name}}</h1>
            <p>{{user.nationality}}</p>
          </ion-label>
        </ion-item>
        <p>{{user.description}}</p>
      </div>
      
      <ion-list [scrollEvents]="true" style="width: 100%;">
        <ion-card *ngFor="let column of columns" [routerLink]="['/column' ,column.id,UID]">
          <ion-card-subtitle>
            {{column.category}}
          </ion-card-subtitle>
          <ion-card-title>
            {{column.title}}
          </ion-card-title>
          <ion-card-subtitle>
            {{column.date}}
          </ion-card-subtitle>
        </ion-card>
      </ion-list>
    </ion-slide>

    <ion-slide style="display: block;">

      <form [formGroup]="registrationForm" (ngSubmit)="addcolumn()"> 
        <ion-list>

          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input autocapitalize inputmode="text" formControlName="title"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.title">
            <ng-container *ngIf="title.hasError(error.type) && (title.dirty || title.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
    
          <ion-item>
            <ion-label position="floating">Category</ion-label>
            <ion-select  formControlName="category">
              <ion-select-option *ngFor="let option of options" value="{{option.category}}">{{option.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngFor="let error of errorMessages.category">
            <ng-container *ngIf="category.hasError(error.type) && (category.dirty || category.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
          <ion-item>
            <ion-label>
            <h2>Date</h2>  
            </ion-label>
            <ion-datetime disabled="true" value="{{date | date: 'yyyy-MM-dd' }}" ></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Text</ion-label>
            <ion-input autocapitalize inputmode="text" formControlName="text"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.text">
            <ng-container *ngIf="text.hasError(error.type) && (text.dirty || text.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>

          <ion-button [disabled]="!registrationForm.valid" type="submit" expand="block">Submit <ion-icon slot="end"
            name="create"></ion-icon>
          </ion-button>

        </ion-list>
      </form>
    </ion-slide>
  </ion-slides>

  
</ion-content>
<!--
      <ion-item>
        <ion-label>
          <h2>Title</h2>
          </ion-label>
        <ion-input type="text" [(ngModel)]="column.title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Category</h2>
        </ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="column.category">
          <ion-select-option *ngFor="let option of options" value={{option.category}}>{{option.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>
        <h2>Date</h2>  
        </ion-label>
        <ion-datetime disabled="true" value="{{date | date: 'yyyy-MM-dd' }}" ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" stacked class="my-label">
          Text
        </ion-label>
        <ion-textarea  [(ngModel)]="column.text"></ion-textarea>
      </ion-item>

      <ion-button color="dark"  expand="full" (click)="addcolumn()"><h3>Agregar</h3></ion-button>
    -->