ion-content{
  --background:rgb(235, 234, 234);
}
ion-list{
  background:rgb(235, 234, 234);
}

ion-toolbar img{
    width: 70%;
};
  
ion-toolbar {
  --background: black;
}

div{
  background: white;
  width: 100%;
  padding: 2%;
}

ion-label h1{
  font-size: 25px;
  font-weight: bold;
  text-align: left; 
}

div p{
  font-size: 14px;
  text-align: left;
}

ion-card{
   border-radius: 10px;
   padding: 2%;
 }

 ion-card-title{
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-top: 2%;
  margin-bottom: 2%;
 } 

 ion-card-subtitle{
  font-size: 14px;
  text-align: left;
 }


.my-label{
  font-size: 24px;
}

ion-slides{
  overflow-y: scroll;
}

form{
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

form p{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

ion-button{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  width: 80%;
  --background:black;
  margin-top: 10%;
}

.button-wrapper{
  text-align: center;
}

