<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" [routerLink]="['/profile',UID]">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <img src="../../assets/icon/royal-post-w.png" />
    </ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-slides scrollbar="true" [options]="vertical" style="height: 100%;" > 

    <ion-slide style="display: block;">
      <ion-slides class="slides-h" [options]="horizontal">

        <ion-slide *ngFor="let article of articles">
          <div class="page">

            <div class="title">
              <h1 [routerLink]="['/article',article.id,UID]">{{article.title}}</h1>
              <p>{{article.subtitle}}</p>
            </div>

            <img src={{article.image}}/>

          </div>
        </ion-slide>

      </ion-slides>
    </ion-slide>

    <ion-slide style="display: block; background:rgb(235, 234, 234);">

      <h1 class="column">Columnas</h1>
      
      <ion-grid>

        <ion-row>
          <ion-col>
            <button [routerLink]="['/columns','artist',UID]">Artistas</button>
          </ion-col>
          <ion-col>
            <button [routerLink]="['/columns','entertainment',UID]">Entretenimiento</button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <button [routerLink]="['/columns','sciencetec',UID]">Ciencia y tecnología</button>
          </ion-col>
          <ion-col>
            <button [routerLink]="['/columns','healthcare',UID]">Salud</button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <button [routerLink]="['/columns','sports',UID]">Deportes</button>
          </ion-col>
          <ion-col>
            <button [routerLink]="['/columns','news',UID]">Noticias</button>
          </ion-col>
        </ion-row>

      </ion-grid>
      
    </ion-slide>

  </ion-slides>

</ion-content>