<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">
      <img src="../../assets/icon/royal-post-w.png"/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-item>
    <ion-label>
      <h1>Email</h1>
    </ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      <h1>Password</h1>
    </ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      <h1>Name</h1>
    </ion-label>
    <ion-input type="text" [(ngModel)]="userdata.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      <h1>Nationality</h1>
    </ion-label>
    <ion-input type="text" [(ngModel)]="userdata.nationality"></ion-input>
  </ion-item>
  
  <ion-item-divider>
    <div class="button-wrapper">
    <ion-button color="dark" size="large" (click)="onRegister()" >Register</ion-button>
  </div>
   <div class="button-wrapper">
    <ion-button color="dark" size="large" routerLink="/login" >Login</ion-button>
    </div>
  </ion-item-divider>
</ion-card>
</ion-content>
