ion-toolbar img{
   width: 70%;
};

ion-toolbar {
   --background: white;
}

ion-content{
   --background:white;
 }
form{
    margin-top: 4%;
    margin-left: 6%;
    margin-right: 6%;
}
  
form p{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
  
ion-button{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 80%;
    --background:black;
    margin-top: 10%;
}
  
.button-wrapper{
    text-align: center;
}