<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button color="dark" [routerLink]="['/login']" ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button style="--color:white;" disabled="true" autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title style="text-align: center;">
      <img src="../../assets/icon/royal-post-b.png"/>
    </ion-title>
     
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="registrationForm" (ngSubmit)="onRegister()">
    <ion-list>
      <p>Nuevo usuario</p>
      <ion-item>
        <ion-label position="floating">nombre</ion-label>
        <ion-input autocapitalize inputmode="text" formControlName="name"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.name">
        <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating">email</ion-label>
        <ion-input autocapitalize inputmode="email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.email">
        <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating">password</ion-label>
        <ion-input type="password" autocapitalize inputmode="password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.password">
        <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
   
      <ion-item>
        <ion-label position="floating">nacionalidad</ion-label>
        <ion-select  formControlName="nationality">
          <ion-select-option *ngFor="let option of options" value="{{option.name}}">{{option.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngFor="let error of errorMessages.nationality">
        <ng-container *ngIf="nationality.hasError(error.type) && (nationality.dirty || nationality.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
          
      
      <ion-item>
        <ion-label position="floating">descripción</ion-label>
        <ion-textarea rows="6" cols="20" autocapitalize inputmode="text" formControlName="description"></ion-textarea>
      </ion-item>
      <div *ngFor="let error of errorMessages.description">
        <ng-container *ngIf="description.hasError(error.type) && (description.dirty || description.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
      
      <div class="button-wrapper">
        <ion-button [disabled]="!registrationForm.valid" type="submit">Registrar</ion-button>
        <ion-button [routerLink]="['/login']" >Regresar</ion-button>
      </div>
 
    </ion-list>
  </form>
</ion-content>